/*
Holder

Create responsive holder.

Usage:
// $width: number
// $height: number
.selector {
 @include add-holder(50, 100);
}

Style:
@include add-holder-style;

Style guide: Modules.Holder
*/

@mixin add-holder($width, $height) {
	position: relative;

	&:before {
		content: "";
		display: block;
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
}

@mixin add-holder-style {
	.holder {
		position: relative;

		&__content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
