/*
Wrap

Crete wrapper element to hold content in specific width with optional aside space.
Space can be created in asix x (`padding left` and `padding-right`).

Function:
// $max-width : pixels
// $padding-x? : pixels
add-wrap($max-width, $padding-x);

Usage:
.wrap {
	@include add-wrap(1024px, 20px);
}

Style:
@include add-wrap-style;

Style guide: Modules.wrap
*/

@mixin add-wrap($max-width, $padding-x: 0) {
	max-width: $max-width + $padding-x * 2;

	@if $padding-x {
		padding-right: $padding-x;
		padding-left: $padding-x;
	}
}

@mixin add-wrap-style {
	.wrap {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}
