/*
Click Expand

Create pseudo element `before` to expand click space.

Usage:
// $space : number
.link {
	@include add-click-expand($space);
}

Markup: click-expand.html

Style guide: Modules.Click expand
*/

@mixin add-click-expand($space) {
	position: relative;
	z-index: 0;

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		width: calc(100% + #{$space * 2}px);
		height: calc(100% + #{$space * 2}px);
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
}
