/*
Click Expand

Expand click space using pseudo element `before` with prepared class `click-expand`.

Style:
.click-expand {
	@extend %click-expand-style;
}

Function:
// $space : numberPixel
@include click-expand($space);

Usage:
.link {
	@include click-expand(20px);
}

Markup: click-expand.html

Style guide: Modules.Click expand
*/

@mixin click-expand($space) {
	&:before {
		width: calc(100% + #{$space * 2});
		height: calc(100% + #{$space * 2});
	}
}

%click-expand-style {
	position: relative;
	z-index: 0;

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
}
