/*
Hover

Style states `:hover`, `:active` and `:focus`.

Set flag `$canParentTrigger` to create trigger hover class `&--hover` for any parent element. 

> States only trigger for non touch devices.

Function:
// $canParentTrigger : boolean : false
@include hover($canParentTrigger) {};

Usage:
.selector {
 @include hover(true) {
  color: red;
 };
}

HTML:
<div>
	<span class="selector"></span>
</div>
<div class="selector--hover">
	<span class="selector"></span>
</div>

Markup: hover.html

Style guide: Modules.Hover
*/

@mixin hover($canParentTrigger: false) {
	@media (hover: hover) {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}

	@if ($canParentTrigger == true) {
		@media (hover: hover) {
			&--hover:hover &,
			&--hover:active &,
			&--hover:focus & {
				@content;
			}
		}
	}
}
