/*
Hover

Include function inside selector to style `:hover`, `:active` and `:focus` states. Style only trigger for non touch devices.<br>
> Set <b>true</b> for parameter <code>$hasParentTrigger</code> to create trigger hover class `&--hover` for any parent element. 

Function:
add-hover($hasParentTrigger);

Usage:
// $hasParentTrigger : boolean : false
.selector {
 @include add-hover(true) {
  // content 	
 };
}

OutputCSS:
@media (hover: hover) {
 .selector:hover,
 .selector:active,
 .selector:focus {
  // content 	
 }
}
@media (hover: hover) {
 .selector--hover:hover .selector,
 .selector--hover:active .selector,
 .selector--hover:focus .selector {
   // content 	
 }
}

Style guide: Modules.Hover
*/

@mixin add-hover($hasParentTrigger: false) {
	@media (hover: hover) {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}

	@if ($hasParentTrigger == true) {
		@media (hover: hover) {
			&--hover:hover &,
			&--hover:active &,
			&--hover:focus & {
				@content;
			}
		}
	}
}
