/*
Input Placeholder

Style placeholder text inside `input` or `textarea` elements.

Function:
@include add-input-placeholder {};

Usage:
input {
 @include add-input-placeholder {
	color: red;
 }
}

HTML:
<input type="text" placeholder="Placeholder" />
<textarea placeholder="Placeholder"></textarea>

Markup: input-placeholder.html

Style guide: Modules.input-placeholder
*/

/* stylelint-disable */
@mixin add-input-placeholder {
	&::placeholder {
		@content;
	}
}
