/*
Input Placeholder

Include function inside selector `input` or `textarea` to style placeholder text.<br>

Function:
add-input-placeholder;

Usage:
input.selector {
 @include add-input-placeholder {
	// content
 }
}

OutputCSS:
input.selector::placeholder,
input.selector::-webkit-input-placeholder,
input.selector::-moz-placeholder,
input.selector:-ms-input-placeholder,
input.selector:-moz-placeholder {
 // content
}

Style guide: Modules.input-placeholder
*/

/* stylelint-disable */
@mixin add-input-placeholder {
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder {
		@content;
	}
}
