/*
Responsive

Create responsive classes for content. 
Generated name selectors will have prefixed with breakpoint name and underscore.

Function:
add-responsive($breakpoints-array);

Arguments:
$breakpoints-array : { [key: string]: number }? : $breakpoints

Usage:
@include add-responsive {
	.foo {}	
}

OutputCSS:
.foo {}
@media screen and (min-width: 576px) {
 .sm_foo {}
}
@media screen and (min-width: 768px) {
 .md_foo {}
}
// and so on

Style guide: Modules.Responsive
*/

@mixin add-responsive($breakpoints-array: $breakpoints) {
	@content;

	@each $label, $other in $breakpoints {
		$breakpoint-name: map-deep-get($breakpoints, $label, name);

		@include media($label) {
			#{$breakpoint-name}_ {
				@content;
			}
		}
	}
}
