/*
Scrollbar

Style browser scrollbar.

Function:
// $size : numberPixel
// $color-background : string
// $color-thumb : string
add-scrollbar($size, $color-background, $color-thumb);

Usage:
.scrollbar {
	@include add-scrollbar(20px, #000, #FFF);
}

HTML:
<div class="scollbar"></div>

Markup: scrollbar.html

Style guide: Modules.Scrollbar
*/

@mixin add-scrollbar($size, $color-background, $color-thumb) {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
		background-color: $color-thumb;
	}

	&::-webkit-scrollbar-thumb {
		min-width: $size;
		max-height: $size;
		background-color: $color-background;
	}

	&::-webkit-scrollbar-track {
		display: none;
	}
}
