/*
Space

Create space for flex box layout between element children's. Space can be created in axis x/y or both.

Function:
// $size : numberPixel
// $size-y : numberPixel? : $size
add-space-x($size);
add-space-y($size);
add-space($size, $size-y);

Usage:
.space {
 @include add-space(20px, 10px);
}
.space-x {
 @include add-space-x(20px);
}
.space-y {
 @include add-space-y(10px);
}

Markup: space.html

Style guide: Modules.space
*/

// Horizontal space
@mixin add-space-x($size) {
	width: calc(100% + #{$size});
	margin-left: -#{$size};

	> *:not(.space-ignore) {
		padding-left: $size;
	}
}

// Vertical space
@mixin add-space-y($size) {
	margin-bottom: -#{$size};

	> *:not(.space-ignore) {
		padding-bottom: $size;
	}
}

// Vertical/horizontal space
@mixin add-space($size: 0, $size-y: $size) {
	@include add-space-x($size);
	@include add-space-y($size-y);
}
