/*
Breakpoints

Variable `$breakpoints` includes [default](https://github.com/BartoszPiwek/FrontBox-Style/blob/master/src/variables/breakpoints.scss) map for breakpoint screen.
> Declaration can be overwrite by own breakpoints.

Usage:
// $breakpoints : { 
// 		[key: string]: { 
// 			name: string; 
// 			size: number 
// 		}
// }
$breakpoints : { 
	mobile: (
		name: sm,
		size: 576
	),
	tablet: (
		name: md,
		size: 1000
	),
}

Style guide: Variables.breakpoints
*/

$breakpoints: (
  mobile: (
    name: sm,
    size: 576
  ),
  fablet: (
    name: md,
    size: 768
  ),
  tablet: (
    name: lg,
    size: 992
  ),
  desktop: (
    name: xl,
    size: 1200
  ),
  desktop-hd: (
    name: hd,
    size: 1366
  ),
  desktop-wide: (
    name: whd,
    size: 1440
  )
);
