/*
Font

Get font family value.<br>
Function `font` return index value from `$fonts` map.

Function:
// $valueIndex: string
font($valueIndex);

Usage:
// $fonts : { 
// 	[key: string]: string
// }
$fonts: (
  default: "Arial",
  monospace: "monospace"
);
.text {
  &-default {
    font-family: font('default');
  }
  &-monospace {
    font-family: font('monospace');
  }
}

Markup: font.html

Style guide: Variables.font
*/

@function font($id) {
	@if map-has-key($fonts, $id) {
		@return #{map-get($fonts, $id)};
	}

	@error 'Invalid index name: `#{$id}`.';
}
