/*
Index

Get index value for property `z-index`.<br>
Function `index` return index value from `$indexes` map.

Function:
// $id: string
index($id);

Usage:
// $indexes : { 
// 	[key: string]: number
// }
$indexes: (
	first: 1,
	last: -1
);
.element {
	z-index: index('first');
}

Markup: index.html

Style guide: Variables.Index
*/

@function index($id) {
	@if map-has-key($indexes, $id) {
		@return map-get($indexes, $id);
	}

	@error 'Invalid index name: `#{$id}`.';
}

$indexes: (
	'loading': 99999,
	'first': 9999,
	'header': 8000,
	'side drawer': 8010,
);
