/*
Media

Wrap code in breakpoint screen.<br>
Mixins `media` and `media-max` take parameter `$valueIndex` - value index from `$breakpoints` map ([go to section](section-variables.html#variables-breakpoints)).

Function:
// $valueIndex: string;
@include media($valueIndex) {}
@include media-max($valueIndex) {}

Usage:
.element {
	@include media(tablet) {
		color: red;
	}
	@include media-max(tablet) {
		display: none;
	}
}

Markup: media.html

Style guide: Variables.media
*/

@mixin media($name) {
	$width: map-deep-get($breakpoints, $name, size);

	@if $width {
		@media screen and (min-width: #{$width}px) {
			@content;
		}
	}

	@else {
		@content;
	}
}

@mixin media-max($name) {
	$width: map-deep-get($breakpoints, $name, size);

	@if $width {
		@media screen and (max-width: #{$width - 1}px) {
			@content;
		}
	}

	@else {
		@content;
	}
}

// @mixin media-special($name) {
// 	$queries: map-get($media, $name);

// 	@if $queries {
// 		@media #{$queries} {
// 			@content;
// 		}
// 	}

// 	@else {
// 		@content;
// 	}
// }
