/*
Media

Wrap code in breakpoint screen.

Mixins `media` (min-width) and `media-max` (max-width) take parameter `$name` to wrap code in media query.

> `$name` is variable map name inside `$breakpoints` map ([go to section](section-variables.html#variables-breakpoints)).

Function:
// $index: string;
@include media($index) {}
@include media-max($index) {}

Usage:
.element {
	@include media(tablet) {
		color: red;
	}
	@include media-max(tablet) {
		display: none;
	}
}

Markup: media.html

Style guide: Variables.media
*/

@mixin media($name) {
	$width: map-get($breakpoints, $name);

	@if $width {
		@media screen and (min-width: #{$width}px) {
			@content;
		}
	}

	@else {
		@content;
	}
}

@mixin media-max($name) {
	$width: map-get($breakpoints, $name);

	@if $width {
		@media screen and (max-width: #{$width - 1}px) {
			@content;
		}
	}

	@else {
		@content;
	}
}

// @mixin media-special($name) {
// 	$queries: map-get($media, $name);

// 	@if $queries {
// 		@media #{$queries} {
// 			@content;
// 		}
// 	}

// 	@else {
// 		@content;
// 	}
// }
