/*
Responsive

Create responsive classes for content. 

Generated selectors based on content class with breakpoint name prefix.

Parameter `$breakpoints-array` on default is [$breakpoints](section-variables.html#variables-breakpoints).

Function:
// $breakpoints-array> : $breakpoints
@include add-responsive($breakpoints-array) {};

Usage:
@include add-responsive {
	[#]{&}color-red{
		color: red;
	}
}

HTML:
<div class="md_color-red">Color red</div>

Markup: responsive.html

Style guide: Generators.Responsive
*/

@mixin add-responsive($breakpoints-array: $breakpoints) {
	@content;

	@each $label, $other in $breakpoints {
		$breakpoint-name: map-deep-get($breakpoints, $label, name);

		@include media($label) {
			.#{$breakpoint-name}_ {
				@content;
			}
		}
	}
}
