/*
Responsive

Create responsive classes with breakpoint name prefix. 

Parameter `$breakpoints-array` on default is [$breakpoints](section-variables.html#variables-breakpoints).

Function:
// $class-name : string
// $breakpoints-array? : $breakpoints
@include add-responsive($class-name, $breakpoints-array) {};

Usage:
@include add-responsive(color-red {
	color: red;
}

HTML:
<div class="md_color-red">Color red</div>

Markup: responsive.html

Style guide: Generators.Responsive
*/

@mixin add-responsive($class-name, $breakpoints-array: $breakpoints) {
	.#{$class-name} {
		@content;
	}

	@each $label, $other in $breakpoints {
		$breakpoint-name: map-deep-get($breakpoints, $label, name);

		@include media($label) {
			.#{$breakpoint-name}_#{$class-name} {
				@content;
			}
		}
	}
}
