@use './../settings/breakpoints' as *;
@use './../settings/media' as *;

/*
Responsive

Create responsive classes with breakpoint name prefix. 

Parameter `$breakpoints-array` on default is [$breakpoints](section-variables.html#variables-breakpoints).

Function:
// $breakpoints-array? : $breakpoints
responsive($breakpoints-array?);

Usage:
@include responsive {
	@at-root .#{&}color-red {
		color: red;
	}
}

HTML:
<div class="md_color-red">Color red</div>

Markup: responsive.html

Style guide: Generators.Responsive
*/

@mixin responsive($breakpoints-array: $breakpoints) {
	@content;

	@each $label, $value in $breakpoints {
		@include media($label) {
			#{$label}_ {
				@content;
			}
		}
	}
}
