@import 'variables';

.container {
	top: 0;
	left: 0;
	position: fixed;
	width: 230px;
	height: 100vh;
	padding: 20px;
	background: color('white');
	z-index: index('first');

	@include media-max('md') {
		transition: transform $time-transition;
		transform: translateX(-100%);
	}

	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include media('md') {
		position: sticky;
	}
}

.list {
	> * + * {
		margin-top: 12px;
	}
}

.title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
