body,
html {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	color: color('dark');
	font-family: font('default');
}

* {
	@include scrollbar(15px, color('primary'), color('white'));

	hyphens: auto;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparentize(color('primary'), 0.8);

	// Text selection color
	&::selection {
		background: color('primary');
		fill: color('white');
		color: color('white');
	}
}
