$colors: (
	'default': #000,
	'black': #000,
	'white': #fff,
	'blue': #1563ff,
	'blue secondary': #e1f4fb,
	'blue third': #dae0ed,
	'gray': #9292a3,
	'dark': #242442,
	'dark secondary': #545571,
	'dark third': #434363,
	'yellow': #f9d952,
	'background': #211e31,
	'light background': #f9fbff,
	'error': #fe5f06,
	'success': #28a745,
	'danger': #dc3545,
	'info': #17a2b8,
	'warning': #ffc107,
);

$tap-color: false;
$text-selection-color: false;
