/*
Circle

Prepared class `circle` (for parent) and `circle__content` (for child) create responsive circle shape based on element width. Element with class `circle__content` has centered on axis xy.

Markup: circle.html

Style guide: Shapes.circle
*/

@mixin add-circle-style {
	.circle {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border-radius: 50%;

		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
