/*
Circle

Responsive circle shape based on element width.

Prepared elements classes:
- `circle` - parent
- `circle__content` - child. 

Child element will be centered on axis xy.

Markup: circle.html

Style:
@include add-circle-style;

Style guide: Shapes.circle
*/

@mixin add-circle-style {
	.circle {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border-radius: 50%;

		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
