/*
Square

Prepared class `square` (for parent) and `square__content` (for child) create responsive square shape based on element width.

HTML:
<div class="square">
	<div class="square__content"></div>
</div>

Markup: square.html

Style guide: Shapes.square
*/

@mixin add-square-style {
	.square {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;

		&__content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
