/*
Triangle

Create triangle shape.

Mixin `add-rectangle` create triangle.

Function:
// $width : numberPixel
// $height : numberPixel
// $position : 'up' | 'right' | 'down' | 'left'
// $color : string
@include add-triangle($width, $height, $position, $color);

Usage:
.triangle-up {
	@include add-triangle(20px, 20px, 'top', #000);
}

HTML:
<div class="triangle-up"></div>

Markup: triangle.html

Style guide: Shapes.Triangle
*/

@mixin add-triangle($width, $height, $position, $color) {
	$half-width: $width / 2;

	width: 0;
	height: 0;

	@if ($position == 'left') {
		border-right: $height solid $color;
	}

	@else if($position == 'up') {
		border-bottom: $height solid $color;
	}

	@else if($position == 'right') {
		border-left: $height solid $color;
	}

	@else if($position == 'down') {
		border-top: $height solid $color;
	}

	@if ($position != 'left' and $position != 'right' == true) {
		border-right: $half-width solid transparent;
		border-left: $half-width solid transparent;
	}

	@else {
		border-top: $half-width solid transparent;
		border-bottom: $half-width solid transparent;
	}
}
