@use '../index' as *;

$breakpoints: (
	sm: 576,
	md: 768,
	lg: 992,
	xl: 1200,
	hd: 1366,
	whd: 1440,
) !global;

@include browser-style-reset;

.wrap {
	@include wrap-style();
}

.row {
	@include row-style;
	@include space(40px);
}

.wrap {
	@include wrap-style;
	@include wrap(1024px, 20px);
}

@include grid(12);

.media-only {
	@include media-only('md') {
		color: red;
	}
}

.media-between {
	@include media-between('md', 'hd') {
		color: blue;
	}
}
