/*!
 * FrontBox Style 0.0.3
 * Bartosz Piwek
 * https://github.com/BartoszPiwek/FrontBox-Style
 */
/*
Variables

Organize values using variables map and easy-to-read functions or mixins.

Style guide: Variables
*/
/*
Breakpoints

[Default](https://github.com/BartoszPiwek/FrontBox-Style/blob/master/src/variables/breakpoints.scss) breakpoints screen map.
> Declaration can be overwrite by own breakpoints.

Usage:
// $breakpoints : { 
// 		[key: string]: { 
// 			name: string; 
// 			size: number 
// 		}
// }
$breakpoints : { 
	mobile: (
		name: sm,
		size: 576
	),
	tablet: (
		name: md,
		size: 1000
	),
}

Style guide: Variables.breakpoints
*/
/*
Color

Get color value.<br>
Function `color` return index value from `$colors` map.

Function:
// $valueIndex: string
color($valueIndex);

Usage:
// $colors : { 
// 	[key: string]: string
// }
$colors: (
  primary: blue,
  secondary: red
);
.element {
	background: color('primary');
}

Markup: color.html

Style guide: Variables.color
*/
/*
Index

Get index value for property `z-index`.<br>
Function `index` return index value from `$indexes` map.

Function:
// $id: string
index($id);

Usage:
// $indexes : { 
// 	[key: string]: number
// }
$indexes: (
	first: 1,
	last: -1
);
.element {
	z-index: index('first');
}

Markup: index.html

Style guide: Variables.Index
*/
/*
Media

Wrap code in breakpoint screen.

Mixins `media` (min-width) and `media-max` (max-width) take parameter `$name` to wrap code in media query.

> `$name` is variable map name inside `$breakpoints` map ([go to section](section-variables.html#variables-breakpoints)).

Function:
// $index: string;
@include media($index) {}
@include media-max($index) {}

Usage:
.element {
	@include media(tablet) {
		color: red;
	}
	@include media-max(tablet) {
		display: none;
	}
}

Markup: media.html

Style guide: Variables.media
*/
/*
Functions

Resolve common problems with SCSS preprocessor.

Style guide: Functions
*/
/*
Map deep get

Fetch deeply nested values from a map.

Function:
// $deep-map: { 
// 		[key: string]: { 
// 			...
// 		}
// }
// $keys: string[]
map-deep-get($deep-map, $keys...);

Usage:
$deep-map: (
  "first": (
    value: red,
  ),
);
element {
  color: map-deep-get($deep-map, first, value)";
}

Markup: map-deep-get.html

Styleguide: Functions.Map deep get
*/
/*
Modules

Change element behaviors.

Style guide: Modules
*/
/*
Click Expand

Expand click space using pseudo element `before` with prepared class `click-expand`.

Function:
// $space : numberPixel
@include click-expand($space);

Usage:
// $space : numberPixel
.link {
	@include click-expand(20px);
}

HTML:
<a href="#" class="expand-link link"></a>

Markup: click-expand.html

Style guide: Modules.Click expand
*/
/*
Fixed

Change to position fixed on iOS Safari while scrolling

Style guide: Fix.fixed
*/
/*
Hover

Style states `:hover`, `:active` and `:focus`.

Set flag `$canParentTrigger` to create trigger hover class `&--hover` for any parent element. 

> States only trigger for non touch devices.

Function:
// $canParentTrigger : boolean : false
@include hover($canParentTrigger) {};

Usage:
.selector {
 @include hover(true) {
  color: red;
 };
}

HTML:
<div>
	<span class="selector"></span>
</div>
<div class="selector--hover">
	<span class="selector"></span>
</div>

Markup: hover.html

Style guide: Modules.Hover
*/
/*
Scrollbar

Style browser scrollbar.

Function:
// $size : numberPixel
// $color-background : string
// $color-thumb : string
@include scrollbar($size, $color-background, $color-thumb);

Usage:
.scrollbar {
	@include scrollbar(20px, #000, #FFF);
}

HTML:
<div class="scollbar"></div>

Markup: scrollbar.html

Style guide: Modules.Scrollbar
*/
/*
Layout

Style guide: Layout
*/
/*
Grid

Grid system based on the flex display property.

Include style form columns and rows.

Usage:
.wrap {
	@extend %grid-style;
}

Style guide: Layout.Grid
*/
/*
Columns

Generate `col` classes.

Parameter `$grid-breakpoints` on default is [$breakpoints](section-variables.html#variables-breakpoints).

> Responsive classes has automatic generated using [responsive](section-functions.html#functions-responsive) mixin.

Function:
// $grid-count : number
// $grid-breakpoints? : $breakpoints
@include grid($grid-count, $breakpoints?);

Usage:
@include grid(12);

Markup: grid.html

Style guide: Layout.Grid.Columns
*/
/*
Space

Create space between element children's.

Function:
// $space-horizontal : numberPixel
// $space-vertical-y : numberPixel? : $space-horizontal
space-x($space-horizontal);
space-y($space-vertical);
space($space-horizontal, $space-vertical);

Usage:
.space {
 @include space(20px, 10px);
}
.space-x {
 @include space-x(20px);
}
.space-y {
 @include space-y(10px);
}

Markup: space.html

Style guide: Layout.space
*/
/*
Wrap

Crete wrapper element to hold content in specific width with optional aside space.

Style:
.wrap {
	@extend %wrap-style;
}

Function:
// $max-width : pixels
// $space-aside? : pixels
wrap($max-width, $space-aside);

Usage:
.wrap {
	@include wrap(700px, 20px);
}

Markup: wrap.html

Style guide: Layout.wrap
*/
/*
Group 

Center elements in content.

Usage:
.group {
	@extend %group-style;
}

Markup: group.html

Style guide: Layout.group
*/
/*
Styles

Styles for selectors/classes.

Style guide: Styles
*/
/*
Browser reset

Set of CSS rules that resets the styling of all HTML elements to a consistent baseline.
> Recommended for all projects!

Usage:
@include browser-reset-style;

Style guide: Styles.Browser reset
*/
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-no-qualifying-type */
/*
Clearfix

Prepared class `clearfix` to force an element self-clear its children.

Usage:
.clearfix {
 @extend %clearfix-style;
}

Markup: clearfix.html

Style guide: Styles.Clearfix
*/
/*
Truncate

Truncate string.

Style:
.truncate {
 @extend %truncate-style;
 &-wrap {
	 @extend %truncate-wrap-style;
 }
}

Markup: truncate.html

Style guide: Styles.Truncate
*/
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }
  .truncate:not(.is-multilane) {
    white-space: nowrap; }

.truncate-wrap {
  position: relative;
  width: 100%; }
  .truncate-wrap > * {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); }

/*
Generators

Create dynamic code.

Style guide: Generators
*/
/*
Responsive

Create responsive classes with breakpoint name prefix. 

Parameter `$breakpoints-array` on default is [$breakpoints](section-variables.html#variables-breakpoints).

Function:
// $breakpoints-array? : $breakpoints
responsive($breakpoints-array?);

Usage:
@include responsive {
	@at-root .color-red {
		color: red;
	}
}

HTML:
<div class="md_color-red">Color red</div>

Markup: responsive.html

Style guide: Generators.Responsive
*/
/*
Utility count

Create responsive classes for content. 
Generated name selectors will have prefixed with breakpoint name and underscore.

Function:
responsive($breakpoints-array);

Arguments:
$breakpoints-array : { [key: string]: number }? : $breakpoints

Usage:
@include responsive {
	.foo {}	
}

OutputCSS:
.foo {}
@media screen and (min-width: 576px) {
 .sm_foo {}
}
@media screen and (min-width: 768px) {
 .md_foo {}
}
// and so on

Style guide: Generators.Utility count
*/
/*
Shapes

Create CSS shapes.

Style guide: Shapes
*/
/*
Square

Responsive square shape based on element width.

Usage:
.square {
 @extend %square-style;
}

Markup: square.html

Style guide: Shapes.square
*/
/*
Triangle

Create triangle shape.

Mixin `rectangle` create triangle.

Function:
// $width : numberPixel
// $height : numberPixel
// $position : 'up' | 'right' | 'down' | 'left'
// $color : string
@include triangle($width, $height, $position, $color);

Usage:
.triangle-up {
	@include triangle(20px, 20px, 'top', #000);
}

HTML:
<div class="triangle-up"></div>

Markup: triangle.html

Style guide: Shapes.Triangle
*/
/*
Circle

Responsive circle shape based on element width.

Child element will be centered on axis xy.

Usage: 
.circle {
  @extend %circle-style;
}

Markup: circle.html

Style guide: Shapes.circle
*/
/*
Rectangle

Responsive rectangle shape based on element width.

Mixin `rectangle` create width to height ratio.

Function:
// $width: number
// $height: number
@include rectangle($width, $height);

Usage:
.rectangle {
 @extend %rectangle-style;
 @include rectangle(16, 9);
}

Markup: rectangle.html

Style guide: Shapes.Rectangle
*/
.aaa {
  color: red; }

.bbb {
  color: blue; }

@media screen and (min-width: 576px) {
  .sm_aaa {
    color: red; }
  .sm_bbb {
    color: blue; } }

@media screen and (min-width: 768px) {
  .md_aaa {
    color: red; }
  .md_bbb {
    color: blue; } }

@media screen and (min-width: 992px) {
  .lg_aaa {
    color: red; }
  .lg_bbb {
    color: blue; } }

@media screen and (min-width: 1200px) {
  .xl_aaa {
    color: red; }
  .xl_bbb {
    color: blue; } }

@media screen and (min-width: 1366px) {
  .hd_aaa {
    color: red; }
  .hd_bbb {
    color: blue; } }

@media screen and (min-width: 1440px) {
  .whd_aaa {
    color: red; }
  .whd_bbb {
    color: blue; } }
