@import '../index';

.row {
	@include grid-style;
}

@include grid(12);

@include responsive {
	@at-root .#{&}block {
		display: block !important;
	}

	@at-root .#{&}inline {
		display: inline !important;
	}

	@at-root .#{&}inline-block {
		display: inline-block !important;
	}

	@at-root .#{&}table {
		display: table !important;
	}

	@at-root .#{&}flex {
		display: flex !important;
	}

	@at-root .#{&}table-cell {
		display: table-cell !important;
	}

	@at-root .#{&}table-row {
		display: table-row !important;
	}

	@at-root .#{&}no-before:before {
		content: none !important;
	}

	@at-root .#{&}no-after:after {
		content: none !important;
	}

	@at-root .#{&}hide {
		display: none !important;
	}
}
