/*
Group 

Center elements in content.

Usage:
.group {
	@extend %group-style;
}

Markup: group.html

Style guide: Layout.group
*/

%group-style {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	> * {
		flex: 0 0 auto;
	}
}
