<style type="iframe">
  @import "index";
  @include add-group-style;

  /* Addon */
  .element {
    &-1 {
      background: red;
      width: 60px;
      height: 40px;
    }

    &-2 {
      background: yellow;
      width: 40px;
      height: 60px;
    }
    &-3 {
      background: green;
      width: 35px;
      height: 15px;
    }
  }
</style>

<div class="container">
  <div class="group">
    <div class="element-1">div</div>
    <span class="element-2">span</span>
    <a class="element-3">a</a>
  </div>
</div>
