// Horizontal space
@mixin space-x($space-horizontal) {
	margin-left: -#{$space-horizontal};

	> * {
		padding-left: $space-horizontal;
	}
}

// Vertical space
@mixin space-y($space-vertical) {
	margin-bottom: -#{$space-vertical};

	> * {
		padding-bottom: $space-vertical;
	}
}

// Vertical/horizontal space
@mixin space($space-horizontal: 0, $space-vertical: $space-horizontal) {
	@include space-x($space-horizontal);
	@include space-y($space-vertical);
}
