/*
Wrap

Crete wrapper element to hold content in specific width with optional aside space.

Function:
// $max-width : pixels
// $$space-aside? : pixels
wrap($max-width, $space-aside);

Usage:
.wrap {
	@extend %wrap-style;
	@include wrap(1024px, 20px);
}

Style:
@extend %wrap-style;

Markup: wrap.html

Style guide: Layout.wrap
*/

@mixin wrap($max-width, $space-aside: 0) {
	@if $space-aside != 0 {
		max-width: $max-width + $space-aside * 2;
		padding-right: $space-aside;
		padding-left: $space-aside;
	}

	@else {
		max-width: $max-width + $space-aside * 2;
	}
}

%wrap-style {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
