/*
Wrap

Crete wrapper element to hold content in specific width with optional aside space.

Style:
.wrap {
	@extend %wrap-style;
}

Function:
// $max-width : pixels
// $space-aside? : pixels
wrap($max-width, $space-aside);

Usage:
.wrap {
	@include wrap(1024px, 16px);
}

Markup: wrap.html

Style guide: Layout.wrap
*/

@mixin wrap($max-width, $space-aside: 0px) {
	@if $space-aside != 0px {
		max-width: $max-width + $space-aside * 2;
		padding-right: $space-aside;
		padding-left: $space-aside;
	} 
	
	@else {
		max-width: $max-width;
	}
}

%wrap-style {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
